/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1158px) {
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-flex {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: start;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .container.footer-flex {
    padding-left: 108px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-flex {
    flex-wrap: nowrap;
    padding-left: 156px;
  }
}

.footer-first-subcontainer {
  margin-bottom: 72px;
}
@media screen and (max-width: 767px) {
  .footer-first-subcontainer {
    text-align: center;
  }
}
@media screen and (min-width: 767px) {
  .footer-first-subcontainer {
  }
}
@media screen and (min-width: 1158px) {
  .footer-first-subcontainer {
    margin-bottom: 0%;
    margin-right: 120px;
  }
}

.footer-second-subcontainer {
  margin-bottom: 72px;
}
@media screen and (min-width: 767px) {
  .footer-second-subcontainer {
    margin-bottom: none;
  }
}

.social-media-paragraph {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .social-media-paragraph {
    text-align: left;
  }
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.social-media-container {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 40px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.logo-container {
  display: inline-block;
}
.logo-footer-span {
  color: #f4f4fd;
}
@media screen and (max-width: 767px) {
  .logo-container {
  }
  .logo {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .logo.link.logo-container {
    margin-right: 24px;
  }
}

.footer-paragraph {
  color: var(--cloud);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 264px;
  text-align: left;
}

.subscribe-container {
  display: block;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1158px) {
  .subscribe-container {
    margin-left: 80px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-container {
    width: 100%;
  }
  .subscribe-container > .subscribe-paragraph {
    text-align: center;
  }
  .footer-form {
    width: 100%;
  }
}

.subscribe-paragraph {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .footer-form {
    justify-content: start;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-form {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.footer-label {
}

.footer-input {
  width: 398px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
