/* Header */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: block;
}

.logo-span {
  color: #2e2f42;
}

.list-header {
  gap: 40px;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  display: inline-block;
  flex-direction: column;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-underline,
.portfolio-underline {
  position: relative;
  color: #404bbf;
}

.studio-underline::after,
.portfolio-underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 2px;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.address-link {
  color: #434455;
  display: flex;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1588px) {
  .address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.social-link:hover,
.social-link:focus,
.social-link:active,
.menu-link:hover,
.menu-link:focus,
.menu-link:active,
.address-link:hover,
.address-link:focus,
.address-link:active {
  color: #404bbf;
}

@media screen and (max-width: 767px) {
  .list.list-header {
    display: none;
  }
}

@media (min-width: 768px) {
  .item-menu {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) and (max-width: 1587px) {
  .item-address {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
}
