:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE, #434455);
  background-color: #ffffff;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.navigation-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.address-list {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.address {
  font-style: normal;
}

.navigation-list:hover,
.navigation-list:focus,
.navigation-list:active,
.address-list:hover,
.address-list:focus,
.address-list:active {
  color: #404bbf;
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
}

.list-team {
  background-color: #ffffff;
}

.primary-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.secondary-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.tertiary-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  justify-content: center;
}

.paragraph {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-one .button-order-service {
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  background: var(--iris);
  padding: 16px 32px;
  cursor: pointer;
  display: block;
  justify-self: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 48px;
  margin-bottom: 188px;
}

.button-order-service:hover,
.button-order-service:focus,
.button-order-service:active {
  background-color: var(--ocean);
}

.section-one {
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  padding-top: 188px;
}

.section-one .index-h1 {
  display: block;
  margin-bottom: 48px;
}

.section-four {
  background-color: #f4f4fd;
}

/* Portfolio Section */

.section-portfelio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-portfelio .list {
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Portfolio Button Section */

.button {
  background-color: var(--cloud);
  color: var(--iris);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-bottom: 72px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--white);
  background-color: var(--ocean);
}

/* Portfolio App Section */

/* .list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
} */

.app-container {
  row-gap: 48px;
  text-align: left;
}

.list > .app-container {
  gap: 12px;
}

.app-info {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding-top: 32px;
  padding-left: 16px;
}

.app-info > .paragraph {
  margin-bottom: 32px;
  text-align: left;
}

.work-li,
.app-li {
  flex-basis: calc((100% - 48px) / 3);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.section {
  padding-block: 120px;
}

.section .list {
  justify-content: center;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid var(--cornflower);
  padding-top: 25.5px;
  /*padding-left: 156px;*/
}

.header-wrap {
}

img {
  display: block;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

/* .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
} */

.footer > .container {
  display: inline-block;
  justify-content: flex-start;
}

.logo-container {
  display: inline-block;
  justify-content: flex-start;
  margin-left: 156px;
  margin-bottom: 16px;
}
.logo-footer-span {
  color: #f4f4fd;
}

.footer-paragraph {
  color: var(--cloud);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 156px;
  max-width: 264px;
}
