:root {
  --primary-brand: --IRIS, #4d5ae5;
  --pressed-state: --OCEAN, #404bbf;
  --dark: --NAVY-BLUE, #2e2f42;
  --success: --GREEN, #31d0aa;
  --text: --SLATE, #434455;
  --subtle-text: --LIGHT-SLATE, #8e8f99;
  --accent: --CORNFLOWER, #e7e9fc;
  --light: --CLOUD, #f4f4fd;
  --modal-overlay: --NAVY-BLUE-modal, rgba(46, 47, 66, 0.4);
  --hero-background: --GREY, rgba(46, 47, 66, 0.7);
  --white-background: --WHITE, #fff;
  --modal-background: --NAVY-BLUE-modal, rgba(46, 47, 66, 0.4);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE, #434455);
  background-color: #ffffff;
}

.link .logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-span {
  color: #2e2f42;
}

.logo-footer-span {
  color: #f4f4fd;
}

.list .nav-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}

.list .address-list {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}

.address {
  font-style: normal;
}

.nav-list:hover,
.nav-list:focus,
.nav-list:active,
.address-list:hover,
.address-list:focus,
.address-list:active {
  color: #404bbf;
}

.section-one {
  background-color: #2e2f42;
}

.section-four {
  background-color: #f4f4fd;
}

.footer-background {
  background-color: #2e2f42;
}

.primary-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.secondary-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.tertiary-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.list .link {
  text-decoration: none;
}

.list-team {
  background-color: #ffffff;
}

.paragraph {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-paragraph {
  color: var(--CLOUD, #f4f4fd);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.list .button-list {
  background-color: var(--CLOUD, #f4f4fd);
  color: var(--IRIS, #4d5ae5);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
}

.button-list:hover,
.button-list:focus,
.button-list:active {
  color: var(--WHITE, #fff);
  background-color: var(--OCEAN, #404bbf);
}

.button-order-service {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
}

.button-order-service:hover,
.button-order-service:focus,
.button-order-service:active {
  background-color: var(--OCEAN, #404bbf);
}
