*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE, #434455);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.secondary-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
}

.tertiary-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.paragraph {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section {
  padding: 120px 0;
}

.section .list {
  justify-content: center;
}

.container {
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}

/* Header */

.header {
  background-color: #fff;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrap {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.nav-ul {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.nav-li {
  padding: 24px 0;
}

.navigation-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.address {
  font-style: normal;
  align-items: center;
  display: flex;
}

.address > .list {
  gap: 40px;
}

.navigation > .list {
  gap: 40px;
}

.address-list {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-list:hover,
.navigation-list:focus,
.navigation-list:active,
.address-list:hover,
.address-list:focus,
.address-list:active {
  color: #404bbf;
}

/* Index */

/* Section One */

.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-one > .container {
  width: 600px;
}

.primary-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px auto;
}

.container > .primary-title {
  margin-bottom: 48px;
}

.button-order-service {
  /* Button Text */
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  /* Button */
  background: var(--iris);
  cursor: pointer;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-order-service:hover,
.button-order-service:focus,
.button-order-service:active {
  background-color: var(--ocean);
}

/* Section Two */

.section-two-container {
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-two .tertiary-title,
.section-two .paragraph {
  text-align: left;
}

.section-two-list {
  width: calc((100% - 72px) / 4);
}

/* Section Three */

.section-three {
  padding-top: 0;
}

.section-three-link {
  width: calc((100% - 48px) / 3);
}

/* Section Four */

/* .section {
  padding: 120px 0;
} */

/* .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
} */

.section-four {
  background-color: #f4f4fd;
  padding-top: 120px;
}

.section-four-list {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.team-member {
  padding: 32px 0px;
}

.team-member .paragraph {
  text-align: center;
}

/* Social Links */

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

/*.eclipse {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}*/

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border: none;
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* Section Five */

.logo-list {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.logo-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}

.logo-link:hover,
.logo-link:focus,
.logo-link:action {
  border-color: #404bbf;
  color: #404bbf;
}

.logo-icon {
  fill: currentColor;
}

/* .section-five-container {
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
} */

/* Portfolio Section */

.section-portfelio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-portfelio .list {
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Portfolio Button Section */

.buttons {
  margin-bottom: 72px;
}

.button {
  background-color: var(--cloud);
  color: var(--iris);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:hover,
.button:focus,
.button:active {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio App Section */

/* .list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
} */

.app-container {
  row-gap: 48px;
  text-align: left;
}

.list > .app-container {
  gap: 12px;
}

.app-info {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px 32px 16px;
}

.app-info > .paragraph {
  text-align: left;
}

.app-info > .tertiary-title {
  margin-bottom: 8px;
  text-align: left;
}

.app-list {
  flex-basis: calc((100% - 48px) / 3);
}

.app-link {
  display: block;
}
.app-link:hover,
.app-link:focus,
.app-link:action {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16);
}

.section .list {
  justify-content: center;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-main-container {
  display: flex;
  align-items: baseline;
}

.footer-first-subcontainer {
  margin-right: 120px;
}

.footer-second-subcontainer {
}

.social-media-paragraph {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.social-media-container {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border: none;
  border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background-color: #31d0aa;
}

/* .container {
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
} */

.footer > .container {
  align-items: center;
  justify-content: flex-start;
}

.logo-container {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer-span {
  color: #f4f4fd;
}

.footer-paragraph {
  color: var(--cloud);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 264px;
}
